<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <style>
        div {
            width: 100%;
            height: 50px;
            display: block;
            margin: 15px 0 0 10px;
        }
    </style>
</head>
<body>
    <h1>AngularJS Expression Demo:</h1>
    <!--
    <div ng-app>
        2 + 2 = {{2 + 2}} <br />
        2 - 2 = {{2 - 2}} <br />
        2 * 2 = {{2 * 2}} <br />
        2 / 2 = {{2 / 2}}<br />
        {{"Hello" + "World"}}<br />
        {{100 + 100}}<br />
        {{true + false}}<br />
        {{10.2 + 10.2}}
    </div>
    
    <div ng-app ng-init="greet='Hello World!'; amount= 10000; rateOfInterest = 10.5; duration=10; myArr = [100, 200]; person = { firstName: 'Steve', lastName : 'Jobs'}">
        {{ (amount * rateOfInterest * duration)/100 }}<br />
        {{myArr[1]}}<br />
        {{person.firstName + " " + person.lastName}}
    </div>
    <div ng-app>
        <input type="text" ng-model="name" />
        Hello {{name}}
    </div>   
    <div ng-app="" ng-init="students=['Bill','Steve','Ram']">
        <ol>
            <li ng-repeat="name in students">
                {{name}}
            </li>
        </ol>
        <div ng-repeat="name in students">
            {{name}}
        </div>
    </div>
    
    <form ng-app ng-init="checked=true">
        Click Me: <input type="checkbox" ng-model="checked" /> <br />
        <div>
        <div>
            New: <input ng-if="checked" type="text" />
        </div>
            Read-only: <input ng-readonly="checked" type="text" value="This is read-only." />
        </div>
        <br />
        <div>
            Disabled: <input ng-disabled="checked" type="text" value="This is disabled" />
        </div>
    </form>
    <form ng-app>
        Enter Name: <input type="text" ng-model="name" /> <br />
        data-ng-bind: <span data-ng-bind="name"></span><br />
        data-ng-bind: <span data-ng:bind="name"></span><br />
        data-ng-bind: <span data:ng:bind="name"></span><br />
        x:ng:bind: <span x-ng-bind="name"></span><br />
        ng:bind <span ng:bind="name"></span><br />
        x-ng-bind: <span x-ng-bind="name"></span><br />
        x_ng_bind: <span x_ng_bind="name"></span><br />
        ng_bind: <span ng_bind="name"></span>
    </form>
        -->
</body>
</html>
